:root {
  --lightText: rgb(255, 255, 255);
  --mainBack: rgb(29, 29, 29);
  --mainColor: #485fc7;
}

html {
  background-color: var(--mainBack);
}

#body {
  margin: 0 20px;
}

h1 {
  font-size: 1.5em;
  font-weight: bolder;
}

h2 {
  font-size: 1.3em;
  font-weight: bolder;
}

.navTitle {
  background-color: var(--mainColor);
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
  color: var(--lightText);
}

.column {
  /* border: solid 2px var(--boxColor); */
  color: var(--lightText);
  padding: 0 0.75rem !important;
}

.row {
  border: solid 2px var(--mainColor);
}

.spacer_line {
  border-bottom: solid 2px var(--mainColor);
}

#current {
  /* border: solid 2px var(--boxColor); */
}

#current_icon,
#forecast7_icon,
#forecast15_icon,
#forecast23_icon,
#forecast31_icon,
#forecast39_icon {
  max-height: 40px;
  max-width: 40px;

}

.titleRow {
  display: flex;
  flex-direction: row;
}

.city_list {
  /* border: 2px solid blue; */
}